<div id="shipping-calculator" class="cart__shipping-calc one-whole column">

  <div class="three-fourths medium-down--one-whole column">

    <h2 class="cart__shipping-title">{{ 'cart.shipping_calculator.title' | t }}</h2>

    <div id="shipping-calculator-form-wrapper" class="shipping-calculator is-flex is-justify-space-between">
      <div id="address_country_container" class="calc-field">
        <label for="address_country">{{ 'cart.shipping_calculator.country' | t }}</label>
        <div class="control">
          <div class="select">
            <select placeholder="{{ 'cart.shipping_calculator.country' | t }}" id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
          </div>
        </div>
      </div>

      <div id="address_province_container" class="calc-field">
        <label for="address_province" id="address_province_label">{{ 'cart.shipping_calculator.province' | t }}</label>
        <div class="control">
          <div class="select">
            <select placeholder="{{ 'cart.shipping_calculator.province' | t }}" id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
          </div>
        </div>
      </div>

      <div id="address_zip_container" class="calc-field">
        <label for="address_zip">{{ 'cart.shipping_calculator.zip_code' | t }}</label>
        <div class="control">
          <input class="input" placeholder="{{ 'cart.shipping_calculator.zip_code' | t }}" type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
        </div>
      </div>

      <div id="get-rates-container" class="is-flex is-align-end">
        <button class="get-rates continue-button button">
          {% include settings.icon, name: 'calculator' %}
        </button>
      </div>

    </div>
  </div>
  <div class="one-fourth medium-down--one-whole column">
    <div id="wrapper-response"></div>
  </div>

</div>

<!--[if lte IE 8]>
<style> #shipping-calculator { display: none; } </style>
<![endif]-->


