<!-- Begin laybuy Liquid Snippet for Shopify v1.25 -->
{% assign current_template = template.name %}
{% assign laybuy_logo = '<img src="https://www.laybuy.com/assets/laybuy-logo-small.svg" id="laybuy-logo" alt="Laybuy">' %}
{% assign laybuy_supported_currencies = 'AUD, NZD, GBP' | split: ', ' %}
{% assign laybuy_count_eligible_variants = 0 %}

{% comment %} Configure price settings {% endcomment %}
{% assign laybuy_minimum_value_in_cents = 1 %}
{% if shop.currency == 'AUD' or shop.currency == 'NZD' %}
  {% assign dollar_sign = '$' %}
  {% assign laybuy_maximum_value_in_cents = 144000 %}
{% elsif shop.currency == 'GBP' %}
  {% assign dollar_sign = '£' %}
  {% assign laybuy_maximum_value_in_cents = 72000 %}
{% endif %}
{% assign laybuy_number_of_instalments = 6 %}
{% assign laybuy_maximum_instalment_value_in_cents = laybuy_maximum_value_in_cents | divided_by: laybuy_number_of_instalments %}
{% assign over_max_price_threshold = false %}

{% comment %} Configure language {% endcomment %}
{% if product.selected_or_first_available_variant.price >= laybuy_maximum_value_in_cents or cart.total_price >= laybuy_maximum_value_in_cents %}
    {% assign over_max_price_threshold = true %}
    {% assign laybuy_line_1 = 'or from ' %}
{% else %}
    {% assign over_max_price_threshold = false %}
    {% assign laybuy_line_1 = 'or 6 weekly interest-free payments from ' %}
{% endif %}
{% capture laybuy_line_2 %}today & {{ laybuy_number_of_instalments | minus: 1 }} weekly interest-free payments of{% endcapture %}
{% assign laybuy_line_3 = ' with ' %}

{% if laybuy_supported_currencies contains shop.currency %}
  {% comment %} Checks cart eligibility {% endcomment %}
  {% if cart.total_price > 0 and cart.total_price >= laybuy_minimum_value_in_cents %}
    {% assign cart_is_eligible = true %}
  {% endif %}
  {% comment %} Checks product eligibility {% endcomment %}
  {% for laybuy_variant in product.variants %}
    {% if laybuy_variant.available and laybuy_variant.price >= laybuy_minimum_value_in_cents %}
      {% assign laybuy_count_eligible_variants = laybuy_count_eligible_variants | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Analytics -->
<script type="text/javascript">
(
  function(i,s,o,g,r,a,m){
    i['GoogleAnalyticsObject']=r;
    i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments);
    },i[r].l=1*new Date();
    a=s.createElement(o),m=s.getElementsByTagName(o)[0];
    a.async=1;
    a.src=g;
    m.parentNode.insertBefore(a,m);
  }
)(window,document,'script','https://www.google-analytics.com/analytics.js','laybuy_ga');
laybuy_ga('create', 'UA-98288670-1', {'sampleRate': 1});
laybuy_ga('send', 'event', 'Liquid Snippet', 'Report Version', '1.25');
laybuy_ga('send', 'event', 'Theme', 'Report Name', {{ theme.name | json }});
laybuy_ga('send', 'event', 'Shop', 'Report Currency', {{ shop.currency | json }});
</script>

{% if laybuy_count_eligible_variants > 0 or template.name == 'cart' %}

  <!-- Create Laybuy paragraph markup from liquid -->
  {% if current_template == 'cart' %}
  <p class="laybuy-paragraph" style="display:{% if cart_is_eligible and cart.total_price >= laybuy_minimum_value_in_cents %}flex{% else %}none{% endif %};">
    <span class="laybuy-text1">{{ laybuy_line_1 }}</span>
    <span class="laybuy-instalments first-instalment-price">
      {% if cart.total_price >= laybuy_maximum_value_in_cents %}
        {% assign difference = cart.total_price | minus: laybuy_maximum_value_in_cents %}
        {% assign first_instalment = laybuy_maximum_instalment_value_in_cents | plus: difference %}
        <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ first_instalment | round | money_without_currency }}</span>
      {% else %}
        <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ cart.total_price | divided_by: laybuy_number_of_instalments | round | money_without_currency }}</span>
      {% endif %}
    </span>
    <span class="laybuy-text2" style="display:{% if over_max_price_threshold %}inline{% else %}none{% endif %};">{{ laybuy_line_2 }}</span>
    <span class="laybuy-instalments max-instalment-price" style="display:{% if over_max_price_threshold %}inline{% else %}none{% endif %};">
      <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ laybuy_maximum_instalment_value_in_cents | round | money_without_currency }}</span>
    </span>
    <span class="laybuy-text3">{{ laybuy_line_3 }}</span>
    {{ laybuy_logo }}
    <a class="laybuy-link" href="https://www.laybuy.com/how-it-works" target="_blank">
      <u class="laybuy-link-inner">what's this?</u>
    </a>
  </p>
  {% endif %}
  {% if current_template == 'product' %}
  <p class="laybuy-paragraph" style="display:{% if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.price >= laybuy_minimum_value_in_cents %}flex{% else %}none{% endif %};" data-product-id="{{ product.id }}">
    <span class="laybuy-text1">{{ laybuy_line_1 }}</span>
    <span class="laybuy-instalments first-instalment-price">
      {% if product.selected_or_first_available_variant.price >= laybuy_maximum_value_in_cents %}
        {% assign difference = product.selected_or_first_available_variant.price | minus: laybuy_maximum_value_in_cents %}
        {% assign first_instalment = laybuy_maximum_instalment_value_in_cents | plus: difference %}
        <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ first_instalment | round | money_without_currency }}</span>
      {% else %}
        <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ product.selected_or_first_available_variant.price | divided_by: laybuy_number_of_instalments | round | money_without_currency }}</span>
      {% endif %}
    </span>
    <span class="laybuy-text2" style="display:{% if over_max_price_threshold %}inline{% else %}none{% endif %};">{{ laybuy_line_2 }}</span>
    <span class="laybuy-instalments max-instalment-price" style="display:{% if over_max_price_threshold %}inline{% else %}none{% endif %};">
      <span class="money laybuy-money" data-money-convertible>{{ dollar_sign }}{{ laybuy_maximum_instalment_value_in_cents | round | money_without_currency }}</span>
    </span>
    <span class="laybuy-text3">{{ laybuy_line_3 }}</span>
    {{ laybuy_logo }}
    <a class="laybuy-link" href="https://www.laybuy.com/how-it-works" target="_blank">
      <u class="laybuy-link-inner">what's this?</u>
    </a>
  </p>
  {% endif %}

  <script type="text/javascript">
  (function () {
    var Laybuy = {}
    var laybuy_supported_currencies = { 'NZD': 'nzd', 'AUD': 'aud', 'GBP': 'gbp' }
    var $laybuy_paragraph = document.querySelector('.laybuy-paragraph')
    var $laybuy_cloned_node = $laybuy_paragraph.cloneNode(true)
    $laybuy_paragraph.remove()

    document.addEventListener('DOMContentLoaded', function() {
      if (/products/i.test(window.location.pathname)) {
        Laybuy.createElements()
      	Laybuy.supportCurrencyConversion()
        Laybuy.initProduct()
        Laybuy.createPopup()
        Laybuy.setPopupLinks()
      }
      if (/cart/i.test(window.location.pathname) && typeof laybuyEnableCart !== 'undefined' && laybuyEnableCart) {
        Laybuy.createElements()
      	Laybuy.supportCurrencyConversion()
        Laybuy.initCart()
        Laybuy.createPopup()
        Laybuy.setPopupLinks()
      }
    })

    Laybuy.initProduct = function() {
      Laybuy.products = [ {{ product | json }} ];
      if (typeof laybuyStyleOverides != 'undefined' && laybuyStyleOverides != null) {
        for (style in laybuyStyleOverides) {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.style[style] = laybuyStyleOverides[style]
          })
        }
      }
      if (typeof laybuyMoneyOverides != 'undefined' && laybuyMoneyOverides != null) {
        for (style in laybuyMoneyOverides) {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.querySelectorAll('.laybuy-money').forEach(function ($money) {
              $money.style[style] = laybuyMoneyOverides[style]
            })
          })
        }
      }
      // Observe variant change
      document.querySelector('body form[action^="/cart/add"]').addEventListener('change', function (event) {
        var $form = document.querySelector('form[action^="/cart/add"]');
        function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }
        var selected_variant_id
        selected_variant_id = parseInt(document.querySelector('form[action^="/cart/add"]').querySelector('input[name=id]:checked, select[name=id], input[name=id], hidden[name=id]').value, 10)
        if (!isNaN(selected_variant_id)) {
          var $variant_options = $form.querySelectorAll('input[name=id][value], select[name=id] option[value], hidden[name=id][value]');
          $variant_options = [].concat(_toConsumableArray($variant_options)).filter(function (element, index) {
            return $(element).attr('value').match(/^[1-9][0-9]*$/)
          })
          $variant_options.forEach(function (element, index) {
            Laybuy.products.forEach(function (product, product_index) {
              product.variants.forEach(function (variant, variant_index) {
                if (variant.id == selected_variant_id) {
                  if (variant.available) Laybuy.constructParagraph(variant.price)
                }
              })
            })
          })
        } else {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.style.display = 'none'
          })
        }
        if (window.Currency && window.Currency.hasOwnProperty('convertAll') && typeof window.Currency.convertAll == 'function') {
          if (laybuy_supported_currencies[window.Currency.currentCurrency]) {
            window.Currency.convertAll(window.Shopify.currency.active.toLowerCase(), window.Currency.currentCurrency.toLowerCase(), 'span.laybuy-money', 'money_format')
            window.Currency.currentCurrency = window.Currency.currentCurrency.toUpperCase()
          }
        }
      })
    }

    Laybuy.initCart = function () {
      // Style over rides for text (set in theme.liquid)
      if (typeof laybuyCartStyleOverides != 'undefined' && laybuyCartStyleOverides != null) {
        for (style in laybuyCartStyleOverides) {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.style[style] = laybuyCartStyleOverides[style]
          })
        }
      }
      // Rebuild the laybuy snippet when cart dom mutations are observed
      if (laybuyAjaxCartContainer && document.querySelector(laybuyAjaxCartContainer)) {
      	var targetNode = document.querySelector(laybuyAjaxCartContainer) // Observed node (set in theme.liquid)
        var callback = debounce(function (mutationsList, observer) {
          for(var mutation of mutationsList) {
            if (mutation.type == 'childList') {
              let current_cart = async function () {
                try {
                  const response = await fetch('/cart.js')
                  return response.json()
                } catch (e) {
                  console.log(e)
                }
              }
              current_cart().then((cart) => {
                if (!cart.hasOwnProperty('total_price')) return true
                Laybuy.constructParagraph(cart.total_price)
                Laybuy.createElements()
              })
            }
          }
        }, 0)
      	var observer = new MutationObserver(callback)
      	observer.observe(targetNode, { childList: true })
      }
    }

    Laybuy.constructParagraph = function (price) {
      var first_instalment = 0
      var should_show_instalments = false
      var over_max_price_threshold = false
      if (price >= {{ laybuy_minimum_value_in_cents }}) should_show_instalments = true
      if (price >= {{ laybuy_maximum_value_in_cents }}) over_max_price_threshold = true
      // under max - show 6 weekly
      if (should_show_instalments && !over_max_price_threshold) {
        $laybuy_paragraph.forEach(function ($paragraph) {
          $paragraph.querySelector('.laybuy-instalments.first-instalment-price > span').innerHTML = '{{ dollar_sign }}' + (format_shopify_money(price / 6))
          $paragraph.querySelector('.laybuy-instalments.max-instalment-price').style.display = 'none'
          $paragraph.querySelector('.laybuy-text1').innerHTML = 'or ' + {{ laybuy_number_of_instalments }} + ' weekly interest-free payments from '
          $paragraph.querySelector('.laybuy-text2').innerHTML = ''
          $paragraph.querySelector('.laybuy-text2').style.display = 'none'
          $paragraph.style.display = 'flex'
        })
      }
      // over max - show one deposit and 5 weekly
      if (should_show_instalments && over_max_price_threshold) {
        first_instalment = ({{ laybuy_maximum_instalment_value_in_cents }} + (price - {{ laybuy_maximum_value_in_cents }}))
        $laybuy_paragraph.forEach(function ($paragraph) {
          $paragraph.querySelector('.laybuy-instalments.first-instalment-price > span').innerHTML = '{{ dollar_sign }}' + format_shopify_money(first_instalment)
          $paragraph.querySelector('.laybuy-instalments.max-instalment-price > span').innerHTML = '{{ dollar_sign }}' + format_shopify_money({{ laybuy_maximum_instalment_value_in_cents }})
          $paragraph.querySelector('.laybuy-instalments.max-instalment-price').style.display = 'inline'
          $paragraph.querySelector('.laybuy-text1').innerHTML = 'or from '
          $paragraph.querySelector('.laybuy-text2').innerHTML = '{{ laybuy_line_2 }}'
          $paragraph.querySelector('.laybuy-text2').style.display = 'inline'
          $paragraph.style.display = 'flex'
        })
      }
      if (!should_show_instalments) {
        $laybuy_paragraph.forEach(function ($paragraph) {
          $paragraph.style.display = 'none'
        })
      }
    }

    Laybuy.createElements = function () {
      if (laybuyContainer) {
        document.querySelectorAll(laybuyContainer).forEach(function (element, index) {
          element.appendChild($laybuy_cloned_node)
        })
      }
      if (typeof laybuyCartTotalContainer !== 'undefined' && laybuyCartTotalContainer) {
        document.querySelectorAll(laybuyCartTotalContainer).forEach(function (element, index) {
          element.appendChild($laybuy_cloned_node)
        })
      }
      $laybuy_paragraph = document.querySelectorAll('.laybuy-paragraph')
      // Style over rides for logo (set in theme.liquid)
      if (typeof laybuyLogoStyleOverides != 'undefined' && laybuyLogoStyleOverides != null) {
        for (style in laybuyLogoStyleOverides) {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.querySelector('#laybuy-logo').style[style] = laybuyLogoStyleOverides[style]
          })
        }
      }
    }

    Laybuy.supportCurrencyConversion = function () {
      if (window.Currency) {
        if (typeof laybuy_supported_currencies[window.Currency.currentCurrency] !== 'undefined' || typeof laybuy_supported_currencies[localStorage.getItem('currency')] !== 'undefined') {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.style.display = 'flex'
          })
        } else {
          $laybuy_paragraph.forEach(function ($paragraph) {
            $paragraph.style.display = 'none'
          })
        }
      }
      setTimeout(() => {
        var $currency_converters = document.querySelectorAll('[name="currencies"], select.CurrencySelector__Select')
        if (window.Currency) {
          if (typeof laybuy_supported_currencies[window.Currency.currentCurrency] !== 'undefined') {
            $laybuy_paragraph.forEach(function ($paragraph) {
              $paragraph.style.display = 'flex'; 
            })
          } else {
            $laybuy_paragraph.forEach(function ($paragraph) {
              $paragraph.style.display = 'none';  
            })
          }
        }
        Array.from($currency_converters).forEach(function (converter) {
          converter.onchange = function () {
            if (laybuy_supported_currencies[this.value]) {
              $laybuy_paragraph.forEach(function ($paragraph) {
                $paragraph.style.display = 'flex'
                
              })
            } else {
              $laybuy_paragraph.forEach(function ($paragraph) {
                $paragraph.style.display = 'none'
              })
            }
          }
        })
      }, 1000)
    }

    Laybuy.createPopup = function () {
      var $popup_wrapper, $popup_outer, $popup_inner, $popup_iframe, $close_button
      $popup_wrapper = document.createElement('div')
      $popup_wrapper.setAttribute('id', 'laybuy-popup-wrapper')
      document.querySelector('body').appendChild($popup_wrapper)
      $popup_wrapper.addEventListener('click', function (event) {
        Laybuy.closePopup(event)
      })
      $popup_outer = document.createElement('div')
      $popup_outer.setAttribute('id', 'laybuy-popup-outer')
      $popup_wrapper.appendChild($popup_outer)
      $popup_inner = document.createElement('div')
      $popup_inner.setAttribute('id', 'laybuy-popup-inner')
      $popup_outer.appendChild($popup_inner)
      $popup_iframe = document.createElement('iframe')
      laybuyPopupTypeOnline ? $popup_iframe.setAttribute('src', 'https://popup.laybuy.com/') : $popup_iframe.setAttribute('src', 'https://laybuy-in-store.surge.sh/')
      $popup_inner.appendChild($popup_iframe)
      $close_button = document.createElement('a')
      $close_button.setAttribute('href', '#')
      $close_button.style.position = 'absolute'
      $close_button.style.right = '8px'
      $close_button.style.top = '8px'
      $close_button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="24px" height="24px"><g id="surface1"><path style=" " d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 12.21875 10.78125 L 10.78125 12.21875 L 14.5625 16 L 10.78125 19.78125 L 12.21875 21.21875 L 16 17.4375 L 19.78125 21.21875 L 21.21875 19.78125 L 17.4375 16 L 21.21875 12.21875 L 19.78125 10.78125 L 16 14.5625 Z "/></g></svg>'
      $popup_inner.appendChild($close_button)
      $close_button.addEventListener('click', function (event) {
        Laybuy.closePopup(event)
      })
    }

    Laybuy.launchPopup = function (event) {
      $popup_wrapper = document.getElementById('laybuy-popup-wrapper')
      if ($popup_wrapper) $popup_wrapper.style.display = 'block'
      event.preventDefault()
    }

    Laybuy.closePopup = function (event) {
      document.getElementById('laybuy-popup-wrapper').style.display = 'none'
      event.preventDefault()
    }

    Laybuy.setPopupLinks = function () {
      var $laybuy_links = document.querySelectorAll('.laybuy-paragraph > a.laybuy-link')
      Array.from($laybuy_links).forEach(function (link) {
        link.onclick = function (event) {
          Laybuy.launchPopup(event)
        }
      })
    }

    // Format Shopify Money - https://github.com/Shopify/Timber/blob/master/assets/timber.js.liquid
    function format_shopify_money(n){return function(n){if(isNaN(n)||null==n)return 0;let t=(n=(n/100).toFixed(2)).split(".");return t[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g,"$1,")+(t[1]?"."+t[1]:"")}(n)}

    // Debounce - https://gist.github.com/nmsdvid/8807205
    function debounce(a,b,c){var d;return function(){var e=this,f=arguments;clearTimeout(d),d=setTimeout(function(){d=null,c||a.apply(e,f)},b),c&&!d&&a.apply(e,f)}}

  }())
  ;
  </script>

  <style>
    .laybuy-paragraph {
      margin-top    : 2em;
      display       : -webkit-flex;
      display       : -ms-flexbox;
      display       : flex !important;
      flex-wrap     : wrap;
      align-items   : center;
      font-size     : 0.9rem;
      letter-spacing: 0rem;
      line-height   : 1.5em;
      color         : #000;
    }
    @media (max-width: 450px) {
      .laybuy-paragraph {
        justify-content: center;
      }
    }
    .laybuy-paragraph > * {
      margin-right: 0.25em;
    }
    .laybuy-paragraph span.laybuy-money {
      font-size  : 1rem;
      font-weight: 600 !important;
      color      : inherit;
    }
    .laybuy-paragraph img#laybuy-logo {
      width : 90px;
      height: 20px;
    }
    .laybuy-paragraph a.laybuy-link {
      font-size: 0.7rem;
      color    : inherit;
    }
    #laybuy-popup-wrapper {
      position: fixed;
      display : none;
      z-index : 999999999;
      left    : 0;
      top     : 0;
      right   : 0;
      bottom  : 0;
      overflow: auto;
    }
    #laybuy-popup-outer {
      display                : -webkit-flex;
      display                : -ms-flexbox;
      display                : flex;
      -webkit-justify-content: center;
      -ms-flex-pack          : center;
      justify-content        : center;
      -webkit-align-content  : center;
      -ms-flex-line-pack     : center;
      align-content          : center;
      -webkit-align-items    : center;
      -ms-flex-align         : center;
      align-items            : center;
      width                  : 100%;
      min-height             : 100%;
      background-color       : rgba(0, 0, 0, 0.3);
    }
    #laybuy-popup-inner {
      width        : 90vw;
      max-width    : 620px;
      height       : 482px;
      position     : relative;
      border-radius: 0.65em;
    }
    #laybuy-popup-inner > iframe {
      width     : 100%;
      height    : calc(100% + 3.2em);
      background: transparent;
      border    : 0;
    }
    @media screen and (max-width: 545px) {
      #laybuy-popup-inner {
        height: 800px;
        margin: 2em 0 0;
      }
    }
  </style>
{% endif %}
<!-- End laybuy Liquid Snippet for Shopify v1.25 -->